// Font size
//
// Specify font size in px and also in rems for browsers that support it
// Base font size on html should be set to 62.5% (10px)
@mixin font-size($sizeValue) {
 	font-size: $sizeValue + px;
	font-size: ($sizeValue / 10) + rem;
}

// RGBA backgrounds
//
// Pass in rgba(#HEX, 0.5) to automaically get transparent backgrounds in supported browsers
@mixin background_rgba($hexColour, $opacity:""){
	background-color:$hexColour;
	@if $opacity != "" {
		background-color:rgba($hexColour, $opacity);
	}
}

// Retina image
//
// Short retina mixin for setting background-image and -size.
@mixin img-retina($file-1x, $file-2x, $width-1x, $height-1x) {
  background-image: url("#{$file-1x}");

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("#{$file-2x}");
    background-size: $width-1x $height-1x;
  }
}


@mixin transform($value){
  -webkit-transform:$value;
  -moz-transform:$value;
  -ms-transform:$value;
  -o-transform:$value;
  transform:$value;
}