// COLOURS
// ---------------------------------------------------------------------------------------------
$white: #fff;
$off_white:#f6f6f6;
$black:#333333;
$yellow:#fdbb2d;
$orange:#f36f3b;
$green:#50c98c;

$textColor:$black;
$linkColor:$orange;


// DIMENSIONS
// ---------------------------------------------------------------------------------------------
// $site_header_height:150px;